
a { 
    color: inherit; 
    text-decoration: inherit;} 

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*chat window*/

.messages{
  display:flex;
  color:rgb(7, 6, 6);
  font-size:13pt;
}

.userBubble{
  vertical-align: right;
right:0px;
margin-right:10%;
margin-left: 20%;
margin-top:2%;
background-color: rgb(240, 238, 238);
border: none;
padding:8px;
padding-right: 12px;
border-radius: 9px 0px 17px 9px;
display: inline-block;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.274);
}
.partnerBubble{
  color:white;
vertical-align: left;
text-align: left;
margin-left:10%;
margin-right: 20%;
margin-top:1%;
background-color: #82da05;
border: none;
padding:8px;
padding-left: 12px;
border-radius: 0px 9px 9px 17px;
display: inline-block;
box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.274);

}

.dealButtonsContainer{
  position:absolute;
   right:5px;
   top:0;
}

.cornerButton{

}

.dis{

}

.chatHeader{
height: 10vh;
position: relative;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.315);
padding-bottom: 1vh;
}

.headerText{
margin-top: 3vh;
font-size:4vh;
text-align: center;
top:1vh;
}

#chatbar{
width:99vw;
}

.chatWindow{
overflow-y: scroll;
max-height: 78vh;
}

.chatInput{
  bottom: 0vh;
   position: absolute;
}

ul{
    -webkit-padding-start: 0;
    list-style-type: none;
}
/* Styling Welcome Stage 1 */
.logo {
  width: 40%;
  display: block;
  margin: 0 auto;
  padding-top: 15%;
}

.welcomeStage1 {
  text-align: center;
}

input{
  font-size: 1em;
}

.welcomeText {
  color: #cccccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  top: 45%;
  width: 100%;
  position: absolute;
}
.buttonWrapper {
  width: 100%;
  position: absolute;
  bottom: 5%;
  text-align: center;
}
.welcomeButton, .submitButton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #82da05;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  border: none;
}
.welcomeButton:hover{
  background: #7ac902;
  text-decoration: none;
}

.submitButton:hover {
  background: #7ac902;
  text-decoration: none;
}

/* styling welcome stage 2 */
.welcomeStage2, .newJobPage, .pairsPage {
  display: flex;
  flex-direction: column;
}
.welcomeHeader {
  color: #cccccc;
  font-weight: 320;
  text-align: left;
  padding-left: 6%;
  margin-bottom: 3%;
}
.welcomeText2 {
  color: #cccccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  text-align: center;
  padding-top: 10%;
}
.rangeWrapper {
  width: 100%;
  text-align: center;
}
.payWrapper {
  width: 100%;
  text-align: center;
}
.welcomeInputMinMax {
  width: 15%;
  border: solid 1px #cccccc;
  padding: 2%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222;
}
.welcomeInputMinMax:focus {
  outline: solid 1px #82da05;
}
.lineBreaks {
  padding-top: 1%;
  padding-bottom: 1%;
  width: 75%;
  position: relative;
  left: 6%;
}
.sliderInner {
  background-image: url(/slider.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
}
.distanceReadout {
  color: #82da05;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  float: right;
  position: relative;
  right: 4%;
}
input[type="range"].kmSlider {
  -webkit-appearance: none;
  width: 80%;
  margin: 4.95px 0;
}
input[type="range"].kmSlider:focus {
  outline: none;
}
input[type="range"].kmSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #82da05;
  border-radius: 25px;
  border: 0.1px solid rgba(255, 255, 255, 0);
}
input[type="range"].kmSlider::-webkit-slider-thumb {
  box-shadow: 1px 1px 3.9px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.05px;
}
input[type="range"].kmSlider:focus::-webkit-slider-runnable-track {
  background: #82da05;
}
input[type="range"].kmSlider::-moz-range-track {
  width: 100%;
  height: 5.1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #82da05;
  border-radius: 25px;
  border: 0.1px solid rgba(255, 255, 255, 0);
}
input[type="range"].kmSlider::-moz-range-thumb {
  box-shadow: 1px 1px 3.9px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"].kmSlider::-ms-track {
  width: 100%;
  height: 5.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].kmSlider::-ms-fill-lower {
  background: #82da05;
  border: 0.1px solid rgba(255, 255, 255, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type="range"].kmSlider::-ms-fill-upper {
  background: #82da05;
  border: 0.1px solid rgba(255, 255, 255, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type="range"].kmSlider::-ms-thumb {
  box-shadow: 1px 1px 3.9px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 5.1px;
}
input[type="range"].kmSlider:focus::-ms-fill-lower {
  background: #82da05;
}
input[type="range"].kmSlider:focus::-ms-fill-upper {
  background: #82da05;
}

.interestsButtonWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-content: space-around;
}

.interestsButtonWrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

label {
  background-color: #cccccc;
  color: white;
  border-radius: 20px;
  text-align: center;
  padding: 5%;
  margin: 2%;
}

.tickLabel {
  display: block;
  width: auto;
}

.tickBox {
  text-align: center;
  min-width: 30%;
  padding-left: 2px;
  padding-right: 2px;
}

input[type="checkbox"]:checked + label {
  background-color: #82da05;
  color: white;
  border-radius: 20px;
  text-align: center;
  padding: 5%;
  margin: 2%;
}

.buttonWrapper2 {
  text-align: center;
  padding-top: 25%;
  padding-bottom: 10%;
}

/* Styling welcome stage 3 */

.welcomeStage3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.userPictureContainer {
  min-width: 100%;
  padding-top: 15%;
}

.userPicture {
  display: block;
  position: relative;
  width: 60%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.welcomeName {
  color: #868686;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 350;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.descriptionWrapper {
  text-align: center;
}

.welcomeDescriptionInput {
  border: solid 1px #cccccc;
  padding: 2%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #222222;
  width: 80%;
  padding-bottom: 15%;
}

.welcomeDescriptionInput:focus {
  outline: solid 1px #82da05;
}

/* End of welcome page 3 style */

.backButton{
    color: #222222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    font-size: 1.5em; 
    left: 2%;
    top: 2%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* user details page */

.userRating{
    color: #3e3e3e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2em; 
    width: 100%;
    text-align: center;
    padding-top: 6%;
}

.userRating1{
  color: #3e3e3e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5em; 
  width: 100%;
  text-align: center;
  padding-top: 6%;
}

.userDetailsDivider{
  width: 100%;
  height: 7vh;
}

.descriptionDetailsWrapper{
    text-align: center;
    padding: 0% 6% 6% 6%;
}

.score{
    font-weight: 500;
}

/* Home page */





.swipeContainer{
display: flex;
flex-wrap: wrap;
flex-flow: column;
}

.addJobContainer{
    width: 100%;
    height: 10vh;
}

.addJobButton{
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    background: #82da05;
    text-align: center;
    width: 7%;
    padding-top: 7%;
    text-decoration: none;
    font-weight: bold;
    border: none;
    position: relative;
    margin-left: 82%;
    margin-top: 10%;
    line-height: 0px;
}

.addJobInner{
  position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    float: left;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 5vw;
}

.logoContainer{
width: 100%;
margin-bottom: 10%;
}

.logo2{
    width: 40%;
    display: block;
    margin: 0 auto;
}

.stackContainer{
  position: relative;
  width: 80%;
  padding-top: 80%;
  margin: 0 auto;
}

.stack {

  }

.bottomBar{
    height: 20%;
}

.jobPay{
  right: 15%;
  position: absolute;
}

.jobDistance{
  left: 15%;
  position: absolute;
}

.jobDetails{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  float: left;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 4vw;
  font-weight: 300;
}

.wholeCard{
    position: relative;
    height: fit-content;
}
.card {
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 11px;
  text-align: center;
  box-sizing: border-box;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.noCards{
  background-image: url(/nothing.png);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  list-style: none;
  border-radius: 11px;
  text-align: center;
  box-sizing: border-box;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cardImage{
    height: 80%;
    position: relative;
    max-width: 100%;
    border-radius: 11px 11px 0px 0px;
}

.navBar{
  width: 100%;
  padding-top: 7%;
  position: relative;
  height: 7vh;
}

.settingsLink{
  left: 9%;
  position: absolute;
}

.jobsLink{
  right: 9%;
  position: absolute;
}

.imageButton{
  border: 0; 
  background: transparent;
}

.navImage{
  width: 9vw;
}

.acceptReject{
  width: 100%;
  position: relative;
  text-align: center;
}

.swipeButton{
  border: solid 2vw #eaeaea;
  background: #fff;
  border-radius: 50%;
  width: 25%;
  padding-top: 20%;
  margin-left: -2vw;
  margin-bottom: 5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

#x{
  background-image: url(/x.png);
}

#check{
  background-image: url(/check.png);
}

.acceptRejectImage{

}

/* add job page */

.formHeader{
  color: #cccccc;
  font-weight: 320;
  text-align: left;
  padding-left: 6%;
  margin-bottom: 3%;
}

.jobInput {
  width: 80%;
  border: solid 1px #cccccc;
  padding: 2%;
  margin-left: 6%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222;
}
.jobInput:focus {
  outline: solid 1px #82da05;
}

.addressError{
  text-align: center;
  color: #9c0909;
}

.uploadButton{
  width: 85%;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #82da05;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 6%;
  text-decoration: none;
  border: none;
}

.pageTitle{
  color: #868686;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 380;
  font-size: 2em;
  width: 100%;
  text-align: center;
  padding-top: 15%;
}

.split{
  width: 50%;
  margin: 0 auto;
}

/* Job Pairs Page */

.jobsList{
  text-align: center;
}

.jobTitleHeader{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  float: left;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 3vh;
  font-weight: 400;
}

.pairJobPic{
  float:left;
  border-radius: 50%;
  border: solid 2px white;
  width: 15vh;
  height: 15vh;
}

.listedJobCard{
  background-color: #82da05;
}

@media only screen and (min-width: 600px) {
  body {
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 20%;
  }
  .swipeButton{
    border: solid 2vw #eaeaea;
  }
  .navImage{
    width: 5vw;
  }
  .jobDetails{
    font-size: 2vw;
  }
  .addJobInner{
    font-size: 3vw;
  }
}



